<%= form_for(@recipe, :html => {:multipart => true}) do |r| %>

<p>
  <%= r.label "Baking Category" %>
    <select name="recipe[food_category_id]">
      <% @food_categories.each do |fc| %>
        <option value="<%= fc.id %>"><%= fc.name %></option>
      <% end %>
    </select>
</p>

  <p>
    <%= r.label :name %>
    <%= r.text_field :name %>
  </p>
  <p>
    <%= r.label :image %>
    <%= r.cl_image_upload :image %>
  </p>
  <p>
    <%= r.label :cooking_time %>
    <%= r.text_field :cooking_time, placeholder: "Enter in minutes" %>
  </p>
  <p>
    <%= r.label :preping_time %>
    <%= r.text_field :preping_time, placeholder: "Enter in minutes" %>
  </p>
  <p>
    <%= r.label :servings %>
    <%= r.text_field :servings, placeholder: "Number of people" %>
  </p>
  <%= r.submit %>
<%end%>
