<div class="recipe-edit">

  <h1 class="food-edit-heading">Add a new recipe category</h1>

  <%= form_for(@recipe, :html => {:multipart => true}) do |r| %>

  <p>
      <select class="custom-select custom-select-lg",   name="recipe[food_category_id]">
        <% @food_categories.each do |fc| %>
          <option value="<%= fc.id %>"><%= fc.name %></option>
        <% end %>
      </select>
  </p>

    <p>
      <%= r.text_field :name, placeholder: "Enter new recipe name", :class=> "form-control form-control-lg" %>
    </p>

    <p>
      <%= r.text_field :image, placeholder: "Paste image url", :class=> "form-control form-control-lg" %>
    </p>

    <p>
      <%= r.text_field :cooking_time, placeholder: "Enter in minutes", :class=> "form-control form-control-lg" %>
    </p>

    <p>
      <%= r.text_field :preping_time, placeholder: "Enter in minutes", :class=> "form-control form-control-lg" %>
    </p>

    <p>
      <%= r.text_field :servings, placeholder: "Number of people", :class=> "form-control form-control-lg" %>
    </p>

    <%= r.submit class: "btn btn-outline-danger btn-lg" %>

  <%end%>

</div>
