<!-- <%= link_to "Edit Recipe", edit_recipe_path %> -->

<h1><%= @recipe.name %></h1>


<div class="soup_image">
  <%= cl_image_tag @recipe.image %>
</div>

<p>Preping time: <%= @recipe.preping_time %> minutes</p>
<p>Cooking time: <%= @recipe.cooking_time %> minutes</p>
<p>Serves: <%= @recipe.servings %> people</p>

<h3>Ingredients</h3>
  <ul>
    <% @recipe.ingredients.each do |i| %>
      <li><%= i.quantity %> <%= i.food_item.name %></li>
    <% end %>
  </ul>

<h3>Directions</h3>
  <ol>
    <% @recipe.directions.each do |d| %>
      <li><%= d.instruction %></li>
    <% end %>
  </ol>
