<h1><%= @recipe.name %></h1>

<div class="soup_image">
  <%= cl_image_tag @recipe.image %>
</div>

<p>Preping time: <%= @recipe.preping_time %> minutes</p>
<p>Cooking time: <%= @recipe.cooking_time %> minutes</p>
<p>Serves: <%= @recipe.servings %> people</p>
