<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">The Coolest Cookbook Ever!</h1>
    <p class="lead">Bronwyn's and Petr's recipes</p>
  </div>
</div>

<!-- <div class="search container">
      <%= form_tag recipes_search_path, method: "post" do %>
        <p>
          <%= text_field_tag :find, nil, placeholder: "Enter search term..." %>
          <%= submit_tag "Search" %>
        </p>
      <% end %>
  </div> -->


<div class="container-fluid">
  <div class="card-deck">

  <% @food_categories.each do |fc| %>

    <div class="col-md-4">
      <div class="card-index">
        <%= link_to food_category_path fc do %>
        <%= cl_image_tag fc.image, class: "img-fluid country-thumb" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= fc.name %></h5>
        </div>
      </div>
    </div>

  <%end%>

  </div>
</div>
