
<%= form_for(@food_category, :html => {:multipart => true}) do |fc| %>
  <p>
    <%= fc.label :name %>
    <%= fc.text_field :name %>
  </p>
  <p>
    <%= fc.label :image %>
    <%= fc.cl_image_upload :image %>
  </p>
  <%= fc.submit %>
<%end%>
