
<h1 class="recipe-heading"><%= @food_category.name %></h1>


<div class="card-show-page">

<% @food_category.recipes.each do |fr| %>



  <div class="row">
    <%= link_to recipe_path fr do %>
    <%= cl_image_tag fr.image, class: "img-show" %>
    <% end %>


      <div class="card-body">

        <div class="card-show-title">
          <p class="card-heading"><%= fr.name %></p>
        </div>

        <div class="card-cooking">
          <div class="card-info1">
            <p class="card3">Cooking time: <%= fr.cooking_time %></p>
          </div>
          <div class="card-info1">
            <p class="card3">Preping time: <%= fr.preping_time %></p>
          </div>
          <div class="card-info1">
            <p class="card3">Serves: <%= fr.servings %></p>
          </div>
          <div class="card-info1">
            <p class="card3">Difficulty: <%= fr.difficulty %></p>
          </div>
        </div>

        <div class="card-desc">
          <p class="card-description"><%= fr.description %></p>
        </div>

    </div>

  </div>

  <%end%>

</div>
